In [2]:
import pandas as pd

df = pd.read_excel('2023_MCM_Problem_Y_Boats.xlsx')

In [3]:
df

,Make,Variant,Length \n(ft),Geographic Region,Country/Region/State,Listing Price (USD),Year
0,Alubat,Ovni 395,41,Europe,France,267233,2005
1,Bavaria,38 Cruiser,38,Europe,Croatia,75178,2005
2,Bavaria,38 Cruiser,38,Europe,Croatia,66825,2005
3,Bavaria,38 Cruiser,38,Europe,Croatia,54661,2005
4,Bavaria,38 Cruiser,38,Europe,Croatia,53447,2005
...,...,...,...,...,...,...,...
2341,RM Yachts,RM 12.70,40,Europe,France,406868,2019
2342,RM Yachts,RM 1270,42,Europe,France,406923,2019
2343,Southerly,48,48,Europe,United Kingdom,1192424,2019
2344,X-Yachts,X4,43,Europe,United Kingdom,546613,2019
2345,X-Yachts,X4.6,46,Europe,Portugal,570907,2019

In [7]:
res = df.groupby(['Make', 'Variant']).size()
res